/* ------------------------
      google  fonst  
------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*------------------------
common styles or utilities
-------------------------*/

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
hr {
  border: 1px solid rgb(190, 189, 189);
  width: 80%;
  margin: 80px auto;
}

/* ---------------------
      header style start
-----------------------  */

header {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 50px;
  line-height: 80px;
}
.header-text h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 50px;
}
.button {
  display: flex;
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
}
.button:hover {
  transform: scale(1.1);
}
.button a,
i {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
.header-right img {
  width: 556.01px;
  height: 438px;
  transition: 0.5s;
}
.header-right img:hover {
  transform: scale(0.9) rotate(15deg);
}

/* -------------------------
        header style end
  --------------------------  */

/* main section start */
.main-container {
  width: 80%;
  margin: 70px auto;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player {
  padding: 15px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 100%;
}
.player p {
  color: #6c6c6c;
  text-align: justify;
}
/* ------------------------
      main section end
  ----------------------- */

/* ------------------------
    highlight section start
  ------------------------- */
.highlights-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 66px;
  /* align-items: center; */
  justify-items: center;
  margin: auto;
  width: 80%;
  /* padding: 50px; */
  line-height: 80px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.highlights-text p {
  line-height: 28px;
  color: #6c6c6c;
  margin-top: 0px;
}
.highlights-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 0px;
}
.highlights-banner img {
  width: 567px;
  height: 427px;
}
/* --------------------------
    highlights section end
  ---------------------------*/

/* ----------------------------
  partners section start
--------------------------  */
.partners {
  width: 80%;
  padding: 50px 0px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.partners-title {
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}
.partners-logo {
  display: flex;
  justify-content: space-evenly;
}
/* --------------------------
    partners section end
    -------------------------  */

/* ------------------------
  next matches section start
  ------------------------  */
.next-matches h1 {
  text-align: center;
  margin-bottom: 60px;
}
.matches {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}
.match-banner {
  display: flex;
  justify-content: space-between;
  background-color: #2d25a0;
  padding: 0px 20px;
}
.next p i {
  font-size: 20px;
  font-weight: 700;
  color: orange;
}
.match-dates {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.date p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  color: white;
  font-weight: 700;
  color: orange;
}
.dates p {
  margin-top: 5px 10px;
  line-height: 5px;
  font-weight: 700;
  color: white;
}
.dates .day {
  margin-top: 25px;
  margin-left: 5px;
}
.dates .month {
  margin-left: 5px;
}
.match {
  width: 48%;
  background-image: linear-gradient(to left, #2d25a0, #e02c6d, #2d25a0);
}
.team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.team-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.time {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 20px;
  color: white;
}
.team-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 50px;
  color: white;
  align-items: center;
}
.team-name span {
  font-size: 16px;
}
/* ------------------------
  next matches section end
  ------------------------  */

/* ---------------------
  footer section start
  --------------------- */
footer {
  display: flex;
  justify-content: center;
}
.footer-container {
  width: 483.87px;
  height: 213px;
  text-align: center;
}
.footer-logo img {
  width: 483.87px;
  height: 110px;
}
.social-icon {
  text-align: center;
}
.social-icon i {
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  color: #969bab;
  background-color: #e7e7e7;
}
.copyright {
  font-size: 18px;
}
/* --------------------
    footer section end 
 --------------------- */

/* ============================
respondive design starts here 
============================== */

/* -----------------------
     for mobile devices  
-------------------------*/
@media only screen and (max-width: 688px) {
  .header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }
  .header-text h1 {
    font-size: 36px;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    margin-top: 100px;
  }
  .header-right img {
    width: 100%;
    height: 100%;
  }
  .players {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .player h2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlights-container {
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .highlights-text h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .highlights-right {
    margin-top: 50px;
  }
  .highlights-right img {
    width: 100%;
    height: 100%;
  }
  .partners {
    margin-top: 0px;
    padding-top: 20px;
  }
  .partners-title {
    margin-bottom: 30px;
    font-size: 12px;
  }
  .partners-logo img {
    width: 30px;
  }
  .matches {
    display: grid;
    grid-template-columns: 1fr;
  }
  .match {
    width: 100%;
  }
  .match:first-child {
    margin-bottom: 50px;
  }
  .team-logo img {
    width: 70px;
    height: 70px;
  }
  .footer-container {
    width: 80%;
  }
  .footer-logo img {
    width: 100%;
  }
}

/* ------------------------------
  for ipad / tablet devices 
------------------------------*/

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .header-text h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .header-left {
    width: 60%;
  }
  .header-right {
    width: 40%;
  }
  .header-right img {
    width: 100%;
    height: 100%;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-right: 20px;
  }
  .highlights-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .highlights-text h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .highlights-right img {
    width: 100%;
    height: 100%;
  }
  .partners {
    display: grid;
    margin-top: 50px;
  }
  .partners-logo {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 40px;
    row-gap: 30px;
  }
  .matches {
    display: grid;
    grid-template-columns: 1fr;
  }
  .match {
    width: 100%;
  }
  .match:first-child {
    margin-bottom: 50px;
  }
}
