/* fonst  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* common styles or utilities*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
hr {
  border: 1px solid rgb(190, 189, 189);
  width: 80%;
  margin: 80px auto;
}

/* header start  */
header {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 50px;
  line-height: 80px;
}
.header-text h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 50px;
}
.button {
  display: flex;
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
}
.button:hover {
  transform: scale(1.1);
}
.button a,
i {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
.header-right img {
  width: 556.01px;
  height: 438px;
  transition: 0.5s;
}
.header-right img:hover {
  transform: scale(0.9) rotate(15deg);
}

/* header end  */

/* main section start */
.main-container {
  width: 80%;
  margin: 70px auto;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  column-gap: 30px;
  row-gap: 27px;
}
.player {
  padding: 15px;
  width: 300px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 300px;
  height: 256px;
}
.player p {
  color: #6c6c6c;
}
/* main section end */

/* highlights start  */
.highlights-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 66px;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 80%;
  padding: 50px;
  line-height: 80px;
  margin-top: 100px;
}
.highlights-text p {
  line-height: 28px;
  color: #6c6c6c;
}
.highlights-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.highlights-banner img {
  width: 567px;
  height: 427px;
}
/* highlights start  */

/* partners section start  */
.partners {
  width: 80%;
  padding: 50px 0px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.partners-title {
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}
.partners-logo {
  display: flex;
  justify-content: space-evenly;
}
/* partners section end  */
/* next matches end  */
.next-matches h1 {
  text-align: center;
  margin-bottom: 60px;
}
.matches {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}
.match-banner {
  display: flex;
  justify-content: space-between;
  background-color: #2d25a0;
  padding: 0px 20px;
}
.next p i {
  font-size: 20px;
  font-weight: 700;
  color: orange;
}
.match-dates {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.date p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  color: white;
  font-weight: 700;
  color: orange;
}
.dates p {
  margin-top: 5px 10px;
  line-height: 5px;
  font-weight: 700;
  color: white;
}
.dates .day {
  margin-top: 25px;
  margin-left: 5px;
}
.dates .month {
  margin-left: 5px;
}
.match {
  width: 48%;
  background-image: linear-gradient(to left, #2d25a0, #e02c6d, #2d25a0);
}
.team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.team-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.time {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 20px;
  color: white;
}
.team-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  /* font-weight: 700; */
  margin-top: 20px;
  padding-bottom: 50px;
  color: white;
  align-items: center;
}
.team-name span {
  font-size: 16px;
}
/* next matches end  */
/* footer start  */
footer {
  display: flex;
  justify-content: center;
}
.footer-container {
  width: 483.87px;
  height: 213px;
  text-align: center;
  /* margin: auto; */
}
.footer-logo img {
  width: 483.87px;
  height: 110px;
}
.social-icon {
  text-align: center;
}
.social-icon i {
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  color: #969bab;
  background-color: #e7e7e7;
}
.copyright {
  font-size: 18px;
}
/* footer end  */
